/* Assets Import */

@import url('https://fonts.googleapis.com/css2?family=Farro&display=swap');

/* Page Designing */

*{
    margin: 0px;
    padding: 0px;
}

/* Navbar Styling */

.navbar{
    display: flex;
    width: 100vw;
    height: fit-content;
    background-color: rgba(217, 217, 217, 1);
    border: solid;
    border-color: rgba(5, 217, 232, 1);
}

ul{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12vw;
    font-family: 'Farro', sans-serif;
    color: rgba(5, 217, 232, 1);
    font-weight: 700;
}

.custom-shape { 
    position: relative; 
    width: 203px; 
    height: 40px; 
    margin-left: 100px;
    background-color: rgba(5, 217, 232, 1);
    clip-path: polygon(0 0, 100% 0, 74% 100%, 18% 100%);
    display: flex; 
    align-items: center; 
    justify-content: center; 
} 

.border-span { 
    width: 200px; 
    height: 37px; 
    clip-path: polygon(0 0, 100% 0, 74% 100%, 18% 100%);
    background-color: rgba(217, 217, 217, 1); 
}

.home{
    padding-right: 30px;
}

.box{
    width: 50px;
    height: 20px;
    padding-top: 10px;
    background-color: black;
}
